SBC_MCP_Query_clean.json
{
  "name": "SBC_MCP_Query",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.chatInput || $json.body?.chatInput || $json.input }}",
        "options": {
          "systemMessage": "You are an expert Saudi Building Code (SBC 201-CC-2024) assistant. Answer questions ONLY using information retrieved from the SBC documents.\n\nIMPORTANT INSTRUCTIONS:\n- ALWAYS use BOTH search tools for every question: first use the keyword search (HTTP Request) with exact terms, then use the vector search (Supabase Vector Store) for broader context.\n- For keyword search, use short exact phrases like \"stair width\", \"1011.2\", \"riser height\", \"tread depth\".\n- Always cite the specific SBC section number and page when providing answers.\n- Present answers in a clear, professional format suitable for construction professionals.\n- If the information is truly not found, say so clearly.\n- Never make up information. Only use what is retrieved from the SBC documents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        -112
      ],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "openai-chat-model-id",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "mcp-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "simple-memory-id",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the Saudi Building Code (SBC 201-CC-2024) for building requirements, code sections, tables, dimensions, and specifications. Use specific technical terms and section numbers when searching. For dimensions and measurements, include terms like mm, width, height, minimum, maximum.",
        "tableName": {
          "__rl": true,
          "value": "sbc_documents",
          "mode": "list",
          "cachedResultName": "sbc_documents"
        },
        "topK": 12,
        "options": {
          "queryName": "match_sbc_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        608,
        16
      ],
      "id": "supabase-vector-store-id",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Your Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        240
      ],
      "id": "embeddings-openai-id",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbc-query",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -96
      ],
      "id": "webhook-id",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "toolDescription": "Search SBC documents by exact keywords. Use this when looking for specific terms like stair width, riser height, tread depth, or section numbers.",
        "method": "POST",
        "url": "https://YOUR-PROJECT-REF.supabase.co/rest/v1/rpc/keyword_search_sbc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_text",
              "value": "={{ $fromAI('query', 'the exact keyword to search for') }}"
            },
            {
              "name": "=match_count",
              "value": "10"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        112
      ],
      "id": "http-request-id",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        96
      ],
      "id": "when-chat-message-received-id",
      "name": "When chat message received",
      "webhookId": "YOUR_WEBHOOK_ID"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
